<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<h1><%= project.name %> Taiga Project</h1>
<p><%= project.description %></p>
<p></p><strong>Generated: </strong><%= generatedTimestamp %></p>
<hr>
<h1>Epic Forecast</h1>

<table style="width:100%">
    <% epics.forEach(function(epic){ %>
        <tr>
            <td><%= epic.subject %></td>

            <% epic.storyCountsPerSprint.forEach(function(count){ %>
                <td><%= count %></td>
            <% }); %>
        </tr>
    <% }); %>
</table>



<hr>
<h1>Sprint Forecast</h1>

<% sprints.forEach(function(sprint){ %>
    <h2><%= sprint.startDateLabel %></h2>
    <table style="width:100%; border: 1px solid black;">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Blocked</th>
            <th>Days</th>
        </tr>

        <% sprint.stories.forEach(function(story){ %>
            <tr>
                <td><a href="https://tree.taiga.io/project/<%= project.slug%>/us/<%= story.ref %>" target="_blank"><%= story.ref %></a></td>
                <td><strong><%= story.subject %></strong></td>
                <td><%= story.blocked %></td>
                <td><%= story.estimatedDays %></td>
            </tr>
        <% }); %>

    </table>
<% }); %>

</body>
</html>


